:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;

  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;

  --main-font: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;

  --header-height: 80px;
  --gallery-gap: 30px;

  --time-action: 250ms;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  padding-top: var(--header-height);

  background: var(--primery-background-color);
  color: var(--primery-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*#region Button */
.button {
  display: inline-block;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;

  cursor: pointer;
}

.button.primery {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background: var(--accent-color);
  color: var(--secondary-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primery:hover,
.button.primery:focus {
  background-color: var(--third-background-color);
  color: var(--title-color);
}

.button.secondary {
  padding: 6px 22px;

  background-color: var(--third-background-color);
  color: var(--title-color);

  font-weight: 500;
  line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.button-modal {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primery-background-color);

  cursor: pointer;
}
/*#endregion Button */

.section {
  text-align: center;
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.logo {
  color: var(--accent-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: text-shadow var(--time-action) var(--time-distribution-function);
}

.list-social {
  display: flex;
  flex-direction: row;
}

.link-social:not(:nth-last-of-type(1)) {
  margin-right: 10px;
}

.link-social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons-svg {
  display: flex;
  width: 20px;
  height: 20px;
}

.icon:hover .social-icons-svg {
  fill: var(--secondary-color);
}
