:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --link-color: #ffffff;
  --accent-link-color: #2196f3;
}

body {
  background: var(--primery-background-color);
  color: var(--primery-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.button {
  font-family: inherit;
  font-size: 16px;
}

.button.primery {
  background: var(--accent-link-color);
  color: var(--link-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primery:hover,
.button.primery:focus {
  background: var(--link-color);
  color: var(--accent-link-color);
}

.button.secondary {
  background-color: var(--link-color);
  color: var(--accent-link-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
  background: var(--accent-link-color);
  color: var(--link-color);
}

.logo {
  color: var(--accent-link-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  text-shadow: 2px 2px 4px var(--accent-link-color);
}

.section {
  text-align: center;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* ---------- Header ---------- */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Логотип в хедере */
.header-logo {
  color: #000000;
}

/* Navigation */
.header-nav {
  color: var(--title-color);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--accent-link-color);
}

.header-nav.current {
  color: var(--accent-link-color);
}

/* Контакты */
.header-link {
  color: #757575;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-link-color);
}

/* ---------- Footer ---------- */
.footer {
  background: var(--secondary-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Логотип в футере */
.footer-logo {
  color: var(--link-color);
}

/* Контакты */
.footer-address {
  color: var(--link-color);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-link-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-link-color);
}
