:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;

  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;

  --main-font: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--primery-background-color);
  color: var(--primery-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin: 0;
}

.conteiner {
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.button {
  font-family: inherit;
  font-size: 16px;

  cursor: pointer;
}

.button.primery {
  background: var(--accent-color);
  color: var(--secondary-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primery:hover,
.button.primery:focus {
  background-color: var(--third-background-color);
  color: var(--title-color);
}

.button.secondary {
  background-color: var(--third-background-color);
  color: var(--title-color);

  font-weight: 500;
  line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.logo {
  color: var(--accent-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover,
.logo:focus {
  text-shadow: 2px 2px 4px var(--accent-color);
}

.section {
  text-align: center;
}

.section-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
