.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--secondary-background-color);
}

.footer .contacts {
  display: block;
  width: 270px;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px var(--accent-color);
}

.footer-logo {
  color: var(--secondary-color);

  transition: color var(--time-action) var(--time-distribution-function);
}

.logo:hover .footer-logo,
.logo:focus .footer-logo {
  color: var(--accent-color);
}

.footer-nav {
  display: block;
  margin-top: 20px;
}

.footer-nav .item {
  font-style: normal;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--secondary-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address,
.footer-link {
  display: inline-block;
  transform: scale(1) rotateX(0);

  transition: color var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);

  transform: scale(1.2) rotateX(1turn);
}

.call {
  width: 270px;
  margin-left: 30px;
  padding-top: 12px;
}

.call-paragraph {
  margin-bottom: 20px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.call .icon {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function);
}

.call .icon:hover,
.call .icon:focus {
  background-color: var(--accent-color);
}

.call .social-icons-svg {
  fill: var(--secondary-color);
}
