.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--secondary-background-color);
}

.footer .contacts {
  display: block;
  width: 270px;
}

.footer-nav {
  display: block;
  margin-top: 20px;
}

.footer-nav .item {
  font-style: normal;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo,
.footer-address {
  color: var(--secondary-color);
}

.logo:hover .footer-logo,
.logo:focus .footer-logo {
  color: var(--accent-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.call-paragraph {
  margin-bottom: 20px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.call {
  width: 270px;
  margin-left: 30px;
  padding-top: 12px;
}

.call .block-social {
}

.call .list-social {
  display: flex;
  flex-direction: row;
}

.call .link-social {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.call .link-social:not(:nth-last-of-type(1)) {
  margin-right: 10px;
}

.call .link-instagram {
  background-image: url(../images/footer/instagram-w.svg);
}

.call .link-twitter {
  background-image: url(../images/footer/twitter-w.svg);
}

.call .link-facebook {
  background-image: url(../images/footer/facebook-w.svg);
}

.call .link-linkedin {
  background-image: url(../images/footer/linkedin-w.svg);
}
