.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--secondary-background-color);
}

.footer .contacts {
  display: block;
  width: 270px;
}

.footer-nav {
  display: block;
  margin-top: 20px;
}

.footer-nav .item {
  font-style: normal;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo,
.footer-address {
  color: var(--secondary-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
