.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  z-index: 1;
  background-color: var(--primery-background-color);
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .flex-box {
  align-items: center;
}

.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo:hover,
.header .logo:focus {
  color: #000000;
  text-shadow: 2px 2px 4px var(--accent-color);
}

.logo:hover .header-logo,
.logo:focus .header-logo {
  color: var(--accent-color);
}

.header-logo {
  color: #000000;
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.header-link {
  display: flex;
  margin-left: auto;
}

.header-nav .item:not(:last-child),
.header-link .item:not(:last-child) {
  margin-right: 30px;
}

.header-nav .link {
  display: inline-flex;
  flex-direction: column;
  height: 80px;
  justify-content: end;

  color: var(--title-color);

  transition: color var(--time-action) var(--time-distribution-function);
}

.header-link .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-color);

  transition: color var(--time-action) var(--time-distribution-function);
}

.header-nav .link.current,
.header-nav .link:hover,
.header-nav .link:focus,
.header-link .link:hover,
.header-link .link:focus {
  color: var(--accent-color);
}

.header-nav .link::after {
  content: '';
  width: inherit;
  height: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border-radius: 4px;
  margin-top: 28px;

  transition: background-color var(--time-action) var(--time-distribution-function);
}

.header-nav .link:hover::after,
.header-nav .link.current::after {
  background-color: var(--accent-color);
}

.address-icon {
  width: 16px;
  height: 16px;

  margin-right: 10px;
  fill: var(--primery-color);

  transition: fill var(--time-action) var(--time-distribution-function);
}

.header-link .link:hover .address-icon,
.header-link .link:focus .address-icon {
  fill: var(--accent-color);
}
