/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: 60px;
  background: var(--primery-background-color);
  color: var(--primery-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: var(--header-height);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --header-height: 80px;
  --gallery-gap: 30px;
  --time-action: 250ms;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.u-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .u-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .u-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .u-container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .u-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.u-section-title {
  padding-bottom: 30px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .u-section-title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.header-nav__list, .header-address, .header-social, .contacts__list, .features__list, .activities__list, .team__list, .clients__list, .social-networks__list, .filter, .gallery {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header-nav__link, .header-address__link, .header-social__link, .contacts__link, .logo, .product__link {
  text-decoration: none;
  color: inherit;
}

.hero, .features, .activities, .team, .clients, .portfolio {
  text-align: center;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .hero, .features, .activities, .team, .clients, .portfolio {
    padding: 94px 0;
  }
}

.button-primery, .button-secondary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color var(--time-action) var(--time-distribution-function), color var(--time-action) var(--time-distribution-function) var(--time-action), -webkit-box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: background-color var(--time-action) var(--time-distribution-function), color var(--time-action) var(--time-distribution-function) var(--time-action), -webkit-box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: background-color var(--time-action) var(--time-distribution-function), color var(--time-action) var(--time-distribution-function) var(--time-action), box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: background-color var(--time-action) var(--time-distribution-function), color var(--time-action) var(--time-distribution-function) var(--time-action), box-shadow var(--time-action) var(--time-distribution-function) var(--time-action), -webkit-box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
  background-color: var(--primery-background-color);
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header {
    height: var(--header-height);
  }
}

.mobile-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primery-background-color);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .stationary-header {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__list {
    margin-left: 93px;
  }
}

.header-nav__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-nav__item {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-nav__link {
  padding-top: 32px;
  color: var(--title-color);
  -webkit-transition: color var(--time-action) var(--time-distribution-function);
  transition: color var(--time-action) var(--time-distribution-function);
}

.header-nav__link:hover, .header-nav__link:focus, .header-nav__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav__link::after {
    content: '';
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    border-radius: 4px;
    margin-top: 28px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform var(--time-action) var(--time-distribution-function);
    transition: -webkit-transform var(--time-action) var(--time-distribution-function);
    transition: transform var(--time-action) var(--time-distribution-function);
    transition: transform var(--time-action) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function);
  }
  .header-nav__link:hover::after, .header-nav__link:focus::after, .header-nav__link--current::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.header-address {
  margin-top: auto;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.17;
}

.header-address--tel {
  font-size: 34px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: inherit;
    line-height: inherit;
  }
}

.header-address__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: inherit;
  }
}

.header-address__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--primery-color);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color var(--time-action) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), transform var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), transform var(--time-action) var(--time-distribution-function) var(--time-action), -webkit-transform var(--time-action) var(--time-distribution-function) var(--time-action);
}

.header-address__link:hover, .header-address__link:focus {
  color: var(--accent-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .header-address__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-address__icon {
  display: none;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primery-color);
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: fill var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: fill var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.header-address__link:hover .header-address__icon,
.header-address__link:focus .header-address__icon {
  fill: var(--accent-color);
  -webkit-transform: rotateX(1turn);
          transform: rotateX(1turn);
}

@media screen and (min-width: 768px) {
  .header-address__icon {
    display: block;
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address__icon {
    width: 16px;
    height: 16px;
  }
}

.header-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 48px;
}

.header-social__item:not(:last-child)::after {
  content: "";
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-background-color);
}

@media screen and (max-width: 1200px) {
  .footer {
    text-align: center;
  }
}

.footer__appeal {
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__appeal {
    text-align: left;
  }
}

.contacts {
  display: block;
  width: 270px;
}

@media screen and (max-width: 1199px) {
  .contacts {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.contacts__list {
  display: block;
  margin-top: 20px;
}

.contacts__item {
  font-style: normal;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(1) rotateX(0);
          transform: scale(1) rotateX(0);
  -webkit-transition: color var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.contacts__link--address {
  color: var(--secondary-color);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  -webkit-transform: scale(1.2) rotateX(1turn);
          transform: scale(1.2) rotateX(1turn);
}

.social-block {
  width: 270px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-block {
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.subscription {
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscription {
    width: 570px;
    margin-left: 30px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription__form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--secondary-background-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border var(--time-action) var(--time-distribution-function);
  transition: border var(--time-action) var(--time-distribution-function);
}

.subscription__input:hover {
  border: 1px solid var(--accent-color);
}

.subscription__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
  }
}

.subscription__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.hero {
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background: var(--secondary-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/mobile/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tablet/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/desktop/hero/hero@2x.jpg);
  }
}

.hero__title-box {
  width: 320px;
  margin-bottom: var(--gallery-gap);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 360px) {
  .hero__title-box {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title-box {
    width: 696px;
  }
}

.hero__title {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.features__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-gap));
        flex-basis: calc(100% / 2 - var(--gallery-gap));
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gallery-gap));
        flex-basis: calc(100% / 4 - var(--gallery-gap));
  }
}

.features__item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--third-background-color);
  border-radius: 4px;
}

.features__item--icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.features__item--icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.features__item--icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.features__item--icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.activities__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--gallery-gap));
      flex-basis: calc(100% / 3 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.activities__thumb {
  display: inline-block;
  text-align: center;
  position: relative;
}

.activities__thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  font-size: 16px;
  line-height: 1.19;
  background: var(--third-background-color);
}

.team__list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.team__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-gap));
        flex-basis: calc(100% / 2 - var(--gallery-gap));
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gallery-gap));
        flex-basis: calc(100% / 4 - var(--gallery-gap));
  }
}

.team-card {
  display: inline-block;
  text-align: center;
}

.team-card__label {
  padding-top: var(--gallery-gap);
  padding-bottom: 16px;
}

.team-card__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-gap));
      flex-basis: calc(100% / 2 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gallery-gap));
        flex-basis: calc(100% / 3 - var(--gallery-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - var(--gallery-gap));
        flex-basis: calc(100% / 6 - var(--gallery-gap));
  }
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), border var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), border var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), border var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), border var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.clients__icon:hover, .clients__icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.clients__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 106px;
  height: 60px;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.clients__icon:hover .clients__svg,
.clients__icon:focus .clients__svg {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
  -webkit-transition: -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.logo {
  color: var(--accent-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  -webkit-transition: color var(--time-action) var(--time-distribution-function), text-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
  transition: color var(--time-action) var(--time-distribution-function), text-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
}

.logo:hover, .logo:focus {
  text-shadow: 2px 2px 4px var(--accent-color);
}

.header__logo {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo:hover, .header__logo:focus {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo:hover, .footer__logo:focus {
  color: var(--secondary-color);
}

.header__half {
  color: #000000;
}

.footer__half {
  color: var(--secondary-color);
}

.logo__half {
  -webkit-transition: color var(--time-action) var(--time-distribution-function);
  transition: color var(--time-action) var(--time-distribution-function);
}

.logo:hover .logo__half,
.logo:focus .logo__half {
  color: var(--accent-color);
}

.button-primery {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button-primery--change:hover, .button-primery--change:focus {
  background-color: var(--third-background-color);
  color: var(--title-color);
}

.button-secondary {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  padding: 6px 22px;
  background-color: var(--third-background-color);
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.62;
}

.button-secondary:hover, .button-secondary:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon-menu {
  fill: var(--title-color);
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.menu-button:hover .menu-button__icon-menu,
.menu-button:focus .menu-button__icon-menu {
  fill: var(--accent-color);
  -webkit-transform: rotateX(1turn);
          transform: rotateX(1turn);
}

.menu-button__icon-close-menu {
  fill: var(--title-color);
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.menu-button .menu-button__icon-close-menu {
  display: none;
}

.menu-button.is-open .menu-button__icon-close-menu {
  display: block;
}

.menu-button:hover .menu-button__icon-close-menu,
.menu-button:focus .menu-button__icon-close-menu {
  fill: var(--accent-color);
  -webkit-transform: rotateZ(1turn);
          transform: rotateZ(1turn);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 31px;
  height: 31px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primery-background-color);
  cursor: pointer;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
  -webkit-transform: rotateZ(1turn);
          transform: rotateZ(1turn);
}

.social-networks {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 1200px) {
  .social-networks__list--left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.social-networks__item:not(:nth-last-of-type(1)) {
  margin-right: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #afb1b8;
  -webkit-transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function);
  transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function), fill var(--time-action) var(--time-distribution-function);
}

.social-networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}

.social-networks__svg {
  width: 20px;
  height: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.social-networks__svg--footer {
  fill: var(--secondary-color);
}

.social-networks__link:hover .social-networks__svg,
.social-networks__link:focus .social-networks__svg {
  fill: var(--secondary-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

.modal {
  position: relative;
  width: calc(100% - 30px);
  max-width: 450px;
  padding: 40px;
  margin: 15px auto auto auto;
  background-color: var(--primery-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
    transition: -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
    transition: transform calc(var(--time-action) * 2) var(--time-distribution-function);
    transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  }
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-form__appeal {
  margin-bottom: 12px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal-form__appeal {
    line-height: 1.15;
  }
}

.modal-form__fieldset {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form-field__input {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition: border var(--time-action) var(--time-distribution-function);
  transition: border var(--time-action) var(--time-distribution-function);
}

.form-field__input--comment {
  height: 120px;
  padding-left: 12px;
}

.form-field__input:hover, .form-field__input:focus {
  border: 1px solid var(--accent-color);
}

.form-field__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__svg {
  position: absolute;
  z-index: 2;
  top: 33px;
  left: 15px;
  fill: var(--title-color);
  -webkit-transition: fill var(--time-action) var(--time-distribution-function);
  transition: fill var(--time-action) var(--time-distribution-function);
}

.form-field:hover .form-field__svg,
.form-field:focus .form-field__svg {
  fill: var(--accent-color);
}

.form-policy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--time-action) var(--time-distribution-function);
  transition: border-color var(--time-action) var(--time-distribution-function);
}

.form-policy:focus-within .form-policy__icon {
  border-color: var(--accent-color);
}

.form-policy__checkbox:checked + .form-policy__icon {
  border-color: transparent;
  background-image: url("../images/icons/full-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-policy__link {
  color: var(--accent-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
  }
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

@media screen and (min-width: 768px) {
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item {
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-gap));
        flex-basis: calc(100% / 2 - var(--gallery-gap));
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gallery-gap));
        flex-basis: calc(100% / 3 - var(--gallery-gap));
  }
}

.product {
  height: 100%;
}

.product__link {
  display: block;
  height: 100%;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: -webkit-box-shadow var(--time-action) var(--time-distribution-function);
  transition: -webkit-box-shadow var(--time-action) var(--time-distribution-function);
  transition: box-shadow var(--time-action) var(--time-distribution-function);
  transition: box-shadow var(--time-action) var(--time-distribution-function), -webkit-box-shadow var(--time-action) var(--time-distribution-function);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function);
  transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function);
  transition: transform var(--time-action) var(--time-distribution-function), opacity calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform var(--time-action) var(--time-distribution-function), opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform var(--time-action) var(--time-distribution-function);
}

.product__link:hover .product__thumb::before,
.product__link:focus .product__thumb::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__description {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 294px;
  overflow: auto;
  padding: 63px 24px;
  color: var(--secondary-color);
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), opacity calc(var(--time-action) * 2) var(--time-distribution-function);
  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function), opacity calc(var(--time-action) * 2) var(--time-distribution-function), -webkit-transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.product__link:hover .product__description,
.product__link:focus .product__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__label {
  display: block;
  padding: 20px 24px;
}

.product__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.product__signature {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */