.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  flex-wrap: wrap;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.gallery .item {
  flex-basis: calc(100% / 3 - var(--gallery-gap));
  border: 1px solid #eeeeee;
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.gallery .label {
  display: block;
  padding: 20px 24px;
}

.gallery-title {
  margin-bottom: 4px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.gallery-signature {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
