.filter {
}

.gallery img {
  margin-bottom: 20px;
}

.gallery-title {
  margin-bottom: 4px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.gallery-signature {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
