/*#region Section Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .section-title-box {
  width: 696px;
  margin-bottom: var(--gallery-gap);
  margin-left: auto;
  margin-right: auto;
}

.hero .section-title {
  color: var(--secondary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 15px;

  background-color: var(--primery-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function);
}
/*#endregion Section Hero */

/*#region Section Features */
.features {
  padding-bottom: 0;
}

.features-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.features-list .item {
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.features-list .item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--third-background-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.features-text {
  text-align: left;
}
/*#endregion Section Features */

/*#region Section Activities */
.activities-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.activities-list .item {
  flex-basis: calc(100% / 3 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.activities-thumb {
  position: relative;
}

.activities-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 27px auto;

  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.activities-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
/*#endregion Section Activities */

/*#region Section Team */
.team {
  font-size: 16px;
  line-height: 1.19;
}

.section.team {
  background: var(--third-background-color);
}

.team-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.team-list .item {
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.team .label {
  padding-top: var(--gallery-gap);
  padding-bottom: 16px;
}

.team-title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .block-social {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team .icon {
  fill: #afb1b8;

  transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function),
    fill var(--time-action) var(--time-distribution-function);
}

.team .icon:hover,
.team .icon:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}
/*#endregion Section Team */

/*#region Section Clients */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .item:not(:nth-last-of-type(1)) {
  margin-right: var(--gallery-gap);
}

.clients-list .icon {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transform: scale(1);

  transition: fill var(--time-action) var(--time-distribution-function),
    border var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.clients-list .icon:hover,
.clients-list .icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);

  transform: scale(1.3);
}

.clients-svg {
  width: 106px;
  height: 60px;

  transform: rotateY(0);
}

.clients-list .icon:hover .clients-svg,
.clients-list .icon:focus .clients-svg {
  transform: rotateY(1turn);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}
/*#endregion Section Clients */
