/* Section Hero */
.hero {
  background: var(--secondary-background-color);
}

.hero .section-title {
  color: var(--secondary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section Features */
.features {
}

.features-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.features-text {
  text-align: left;
}

/* Section Activities */
.activities {
}

/* Section Team */
.team {
  background: var(--third-background-color);

  font-size: 16px;
  line-height: 1.19;
}

.team-title {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
