/*#region COMMON */
:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;

  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;

  --main-font: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;

  --header-height: 80px;
  --gallery-gap: 30px;

  --time-action: 250ms;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  padding-top: var(--header-height);

  background: var(--primery-background-color);

  color: var(--primery-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  text-align: center;
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.logo {
  color: var(--accent-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: color var(--time-action) var(--time-distribution-function),
    text-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
}
/*#endregion COMMON */

/*#region BUTTON */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;

  cursor: pointer;

  transition: background-color var(--time-action) var(--time-distribution-function),
    color var(--time-action) var(--time-distribution-function) var(--time-action),
    box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
}

.button.primery {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--secondary-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero > .button.primery:hover,
.hero > .button.primery:focus {
  background-color: var(--third-background-color);
  color: var(--title-color);
}

.button.secondary {
  box-shadow: 0;

  padding: 6px 22px;

  background-color: var(--third-background-color);
  color: var(--title-color);

  font-weight: 500;
  line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primery-background-color);

  cursor: pointer;

  transform: rotateZ(0);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function),
    fill var(--time-action) var(--time-distribution-function);
}

.button-modal:hover,
.button-modal:focus {
  transform: rotateZ(1turn);

  fill: var(--accent-color);
}
/*#endregion BUTTON */

/*#region SOCIAL */
.list-social {
  display: flex;
  flex-direction: row;
}

.link-social:not(:nth-last-of-type(1)) {
  margin-right: 10px;
}

.link-social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons-svg {
  display: flex;
  width: 20px;
  height: 20px;

  transform: scale(1);

  transition: fill var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.icon:hover .social-icons-svg,
.icon:focus .social-icons-svg {
  fill: var(--secondary-color);

  transform: scale(1.3);
}
/*#endregion SOCIAL */

/*#region HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  z-index: 1;
  background-color: var(--primery-background-color);
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .flex-box {
  align-items: center;
}

.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo:hover,
.header .logo:focus {
  color: #000000;
  text-shadow: 2px 2px 4px var(--accent-color);
}

.header-logo {
  color: #000000;

  transition: color var(--time-action) var(--time-distribution-function);
}

.logo:hover .header-logo,
.logo:focus .header-logo {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.header-link {
  display: flex;
  margin-left: auto;
}

.header-nav .item:not(:last-child),
.header-link .item:not(:last-child) {
  margin-right: 50px;
}

.header-nav .link {
  display: inline-flex;
  flex-direction: column;
  padding-top: 32px;

  color: var(--title-color);

  transition: color var(--time-action) var(--time-distribution-function);
}

.header-link .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-color);

  transform: scale(1);

  transition: color var(--time-action) var(--time-distribution-function),
    transform var(--time-action) var(--time-distribution-function) var(--time-action);
}

.header-nav .link.current,
.header-nav .link:hover,
.header-nav .link:focus,
.header-link .link:hover,
.header-link .link:focus {
  color: var(--accent-color);
}

.header-link .link:hover,
.header-link .link:focus {
  transform: scale(1.1);
}

.header-nav .link::after {
  content: '';
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-top: 28px;

  transform: scaleX(0);

  transition: transform var(--time-action) var(--time-distribution-function);
}

.header-nav .link:hover::after,
.header-nav .link:focus::after,
.header-nav .link.current::after {
  transform: scaleX(1);
}

.address-icon {
  width: 16px;
  height: 16px;

  margin-right: 10px;
  fill: var(--primery-color);

  transform: rotateX(0);

  transition: fill var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.header-link .link:hover .address-icon,
.header-link .link:focus .address-icon {
  fill: var(--accent-color);

  transform: rotateX(1turn);
}
/*#endregion HEADER */

/*#region FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--secondary-background-color);
}

.footer .contacts {
  display: block;
  width: 270px;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px var(--accent-color);
}

.footer-logo {
  color: var(--secondary-color);

  transition: color var(--time-action) var(--time-distribution-function);
}

.logo:hover .footer-logo,
.logo:focus .footer-logo {
  color: var(--accent-color);
}

.footer-nav {
  display: block;
  margin-top: 20px;
}

.footer-nav .item {
  font-style: normal;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--secondary-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address,
.footer-link {
  display: inline-block;
  transform: scale(1) rotateX(0);

  transition: color var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);

  transform: scale(1.2) rotateX(1turn);
}

.footer-appeal {
  margin-bottom: 20px;

  color: var(--secondary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.appeal-social {
  width: 270px;
  margin-left: 30px;
  padding-top: 12px;
}

.appeal-social .icon {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function);
}

.appeal-social .icon:hover,
.appeal-social .icon:focus {
  background-color: var(--accent-color);
}

.appeal-social .social-icons-svg {
  fill: var(--secondary-color);
}

.appeal-subscription {
  width: 570px;
  margin-left: 30px;
  padding-top: 12px;
}

.form-subscription {
  display: flex;
  justify-content: space-between;
}

.form-subscription input {
  width: 358px;
  margin-right: 12px;
  padding: 15px;
  background-color: var(--secondary-background-color);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: border var(--time-action) var(--time-distribution-function);
}

.form-subscription input:hover {
  border: 1px solid var(--accent-color);
}

.form-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: currentColor;
}
/*#endregion FOOTER */

/*#region Section HERO */
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .section-title-box {
  width: 696px;
  margin-bottom: var(--gallery-gap);
  margin-left: auto;
  margin-right: auto;
}

.hero .section-title {
  color: var(--secondary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*#endregion Section HERO */

/*#region MODAL window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity calc(var(--time-action) * 2) var(--time-distribution-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primery-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.form-appeal {
  margin-bottom: 12px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.fieldset {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form-field input,
.form-field textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;

  transition: border var(--time-action) var(--time-distribution-function);
}

.form-field input {
  padding-left: 42px;
}

.form-field input:hover,
.form-field textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field svg {
  position: absolute;
  z-index: 2;
  top: 32px;
  left: 15px;

  fill: var(--title-color);

  transition: fill var(--time-action) var(--time-distribution-function);
}

.form-field:hover svg,
.form-field:focus svg {
  fill: var(--accent-color);
}

.form-policy {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
}

.form-link {
  color: var(--accent-color);
}
/*#endregion MODAL window */

/*#region Section FEATURES */
.features {
  padding-bottom: 0;
}

.features-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.features-list .item {
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.features-list .item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--third-background-color);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.features-text {
  text-align: left;
}
/*#endregion Section FEATURES */

/*#region Section ACTIVITIES */
.activities-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.activities-list .item {
  flex-basis: calc(100% / 3 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.activities-thumb {
  position: relative;
}

.activities-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;

  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.activities-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
/*#endregion Section ACTIVITIES */

/*#region Section TEAM */
.team {
  font-size: 16px;
  line-height: 1.19;
}

.section.team {
  background: var(--third-background-color);
}

.team-list {
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.team-list .item {
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.team .label {
  padding-top: var(--gallery-gap);
  padding-bottom: 16px;
}

.team-title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .block-social {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team .icon {
  fill: #afb1b8;

  transition: background-color calc(var(--time-action) * 2) var(--time-distribution-function),
    fill var(--time-action) var(--time-distribution-function);
}

.team .icon:hover,
.team .icon:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}
/*#endregion Section TEAM */

/*#region Section CLIENTS */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .item:not(:nth-last-of-type(1)) {
  margin-right: var(--gallery-gap);
}

.clients-list .icon {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transform: scale(1);

  transition: fill var(--time-action) var(--time-distribution-function),
    border var(--time-action) var(--time-distribution-function),
    transform calc(var(--time-action) * 2) var(--time-distribution-function);
}

.clients-list .icon:hover,
.clients-list .icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);

  transform: scale(1.3);
}

.clients-svg {
  width: 106px;
  height: 60px;

  transform: rotateY(0);
}

.clients-list .icon:hover .clients-svg,
.clients-list .icon:focus .clients-svg {
  transform: rotateY(1turn);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
}
/*#endregion Section CLIENTS */

/*#region PORTFOLIO */
.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.gallery {
  flex-wrap: wrap;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.gallery .item {
  flex-basis: calc(100% / 3 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}

.gallery-link {
  display: block;
  border: 1px solid #eeeeee;

  box-shadow: 0;

  transition: box-shadow var(--time-action) var(--time-distribution-function);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);

  transition: transform var(--time-action) var(--time-distribution-function),
    opacity calc(var(--time-action) * 2) var(--time-distribution-function);
}

.gallery-description {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 294px;
  overflow: auto;

  padding: 63px 24px;

  color: var(--secondary-color);
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  transform: translateY(100%);

  transition: transform calc(var(--time-action) * 2) var(--time-distribution-function),
    opacity calc(var(--time-action) * 2) var(--time-distribution-function);
}

.gallery-link:hover .gallery-thumb::before,
.gallery-link:focus .gallery-thumb::before,
.gallery-link:hover .gallery-description,
.gallery-link:focus .gallery-description {
  opacity: 1;

  transform: translateY(0);
}

.gallery .label {
  display: block;
  padding: 20px 24px;
}

.gallery-title {
  margin-bottom: 4px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.gallery-signature {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
/*#endregion PORTFOLIO */
