.clients {
  @extend %section;
}

.clients__list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.clients__item:not(:nth-last-of-type(1)) {
  margin-right: var(--gallery-gap);
}

.clients__icon {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transform: scale(1);

  transition: fill var(--time-action) var(--time-distribution-function), border var(--time-action) var(--time-distribution-function), transform calc(var(--time-action) * 2) var(--time-distribution-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);

    transform: scale(1.3);
  }
}

.clients__svg {
  width: 106px;
  height: 60px;

  transform: rotateY(0);

  .clients__icon:hover &,
  .clients__icon:focus & {
    transform: rotateY(1turn);

    transition: transform calc(var(--time-action) * 2) var(--time-distribution-function) var(--time-action);
  }
}
