.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-brand {
  width: 1.7666015625em;
}

.icon-company {
  width: 1.7666015625em;
}

.icon-foster-peters {
  width: 1.7666015625em;
}

.icon-tag-line {
  width: 1.7666015625em;
}

.icon-tagline-here {
  width: 1.7666015625em;
}

.icon-ya-co {
  width: 1.7666015625em;
}
