.filter {
  @extend %list;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.filter__item {
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }  
}

