.gallery {
  @extend %list;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.gallery__item {
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--gallery-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--gallery-gap));
  }
}