.gallery {
  @extend %list;
  flex-wrap: wrap;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.gallery__item {
  flex-basis: calc(100% / 3 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
}