.team {
  @extend %section;
  font-size: 16px;
  line-height: 1.19;

  background: var(--third-background-color);
}

.team__list {
  @extend %list;
  margin-top: calc(-1 * (var(--gallery-gap)));
  margin-left: calc(-1 * (var(--gallery-gap)));
}

.team__item {
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.team-card__label {
  padding-top: var(--gallery-gap);
  padding-bottom: 16px;
}

.team-card__title {
  margin-bottom: 10px;

  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}