%list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%link {
  text-decoration: none;
  color: inherit;
}

%section {
  text-align: center;
  padding: 94px 0;
}

%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;

  cursor: pointer;

  transition: background-color var(--time-action) var(--time-distribution-function),
    color var(--time-action) var(--time-distribution-function) var(--time-action),
    box-shadow var(--time-action) var(--time-distribution-function) var(--time-action);
}
