.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.u-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.u-flexbox {
  display: flex;
}

.u-section-title {
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}