.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.u-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.u-flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.u-section-title {
  padding-bottom: 30px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}