:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;

  --primery-color: #757575;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;

  --main-font: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;

  --header-height: 80px;
  --gallery-gap: 30px;

  --time-action: 250ms;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$iconsFeatures: 'antenna', 'clock', 'diagram', 'astronaut';
